version: '3'

services:
  app:
    image: senkustream/larva-interactions:local
    ports:
      - 8080:80
    environment:
      - SSL_MODE=off
      - AUTORUN_LARAVEL_MIGRATION=true
      - PHP_FPM_POOL_NAME=larva_app

  redis:
    image: redis:6
    command: "redis-server --appendonly yes"

  queue:
    image: senkustream/larva-interactions:local
    command: ["php", "/var/www/html/artisan", "queue:work", "--tries=3"]
    environment:
      - SSL_MODE=off
      - PHP_FPM_POOL_NAME=larva_queue

  horizon:
    image: senkustream/larva-interactions:local
    command: ["php", "/var/www/html/artisan", "horizon"]
    environment:
      - SSL_MODE=off
      - PHP_FPM_POOL_NAME=larva_horizon
